<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.TspMenuitemMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.TspMenuitem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PID" jdbcType="DECIMAL" property="pid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="MENU_TYPE" jdbcType="VARCHAR" property="menuType" />
    <result column="SORT" jdbcType="VARCHAR" property="sort" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="GROUPID" jdbcType="VARCHAR" property="groupid" />
    <result column="GROUPNAME" jdbcType="VARCHAR" property="groupname" />
    <result column="COMPONENT" jdbcType="VARCHAR" property="component" />
    <result column="ICONTYPE" jdbcType="VARCHAR" property="icontype" />
    <result column="COMP_DESC" jdbcType="VARCHAR" property="compDesc" />
    <result column="RULE_ID" jdbcType="VARCHAR" property="ruleId" />
    <result column="DESC_ID" jdbcType="VARCHAR" property="descId" />
    <result column="DESC_PID" jdbcType="VARCHAR" property="descPid" />
    <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
    <result column="IDEMPOTENTKEY" jdbcType="VARCHAR" property="idempotentkey" />
    <result column="HANDLE" jdbcType="DECIMAL" property="handle" />
  </resultMap>
  <select id="selectMenuitemsById" parameterType="String" resultType="com.iquantex.tspweb.param.TspMenuitemVO">
    ${sql}
  </select>

  <select id="selectWorkBenchById" parameterType="String" resultType="com.iquantex.tspweb.param.TspWorkBenchVO">
    ${sql}
  </select>

  <select id="selectMenuitem" resultMap="BaseResultMap">
    SELECT * FROM tsp_menuitem
    WHERE rule_id IS NOT NULL
  </select>

  <select id="selectMenuitemById" resultMap="BaseResultMap">
    SELECT * FROM ( select *
    from tsp_menuitem a
    join (select wm_concat(to_char(AUTHORIZATION)) as menu
    from tsp_user_role a
    left join tsp_role b
    on a.role_id = b.role_id
    where a.user_id = #{userId}) b
    on instr(',' || menu || ',', ',' || a.id || ',') > 0
    or (select count(*) from tsp_user_role where user_id=#{userId} and role_id=1)>=1)
    <if test=" id != 'all'">
      where id = #{id}
    </if>
  </select>

  <update id="updateTspMenuitem" parameterType="com.iquantex.tspweb.model.TspMenuitem">
    update tsp_menuitem
    <trim prefix="set" suffixOverrides=",">
      <if test="pid != null">PID=#{pid},</if>
      <if test="name != null">NAME=#{name},</if>
      <if test="title != null">TITLE=#{title},</if>
      <if test="menuType != null">MENU_TYPE=#{menuType},</if>
      <if test="sort != null">SORT=#{sort},</if>
      <if test="url != null">URL=#{url},</if>
      <if test="groupid != null">GROUPID=#{groupid},</if>
      <if test="groupname != null">GROUPNAME=#{groupname},</if>
      <if test="component != null">COMPONENT=#{component},</if>
      <if test="icontype != null">ICONTYPE=#{icontype},</if>
      <if test="compDesc != null">COMP_DESC=#{compDesc},</if>
      <if test="ruleId != null">RULE_ID=#{ruleId},</if>
      <if test="descId != null">DESC_ID=#{descId},</if>
      <if test="descPid != null">DESC_PID=#{descPid},</if>
      <if test="idempotentkey != null">IDEMPOTENTKEY=#{idempotentkey},</if>
      <if test="handle != null">HANDLE=#{handle},</if>
    </trim>
    where id=#{id}
  </update>


  <insert id="insertTspMentitem" parameterType="com.iquantex.tspweb.model.TspMenuitem" flushCache="true">
    <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
      select TSP_MENUITEMS_ID_SEQ.nextval FROM  dual
    </selectKey>
    INSERT  into tsp_menuitem
    (ID, PID, NAME, TITLE, MENU_TYPE, SORT, URL, GROUPID, GROUPNAME, COMPONENT, ICONTYPE, COMP_DESC, RULE_ID, DESC_ID, DESC_PID,IDEMPOTENTKEY,HANDLE)
    VALUES(
    #{id,jdbcType=DECIMAL},
    #{pid,jdbcType = DECIMAL},
    #{name,jdbcType = VARCHAR},
    #{title,jdbcType = VARCHAR},
    #{menuType,jdbcType = VARCHAR},
    #{sort,jdbcType = VARCHAR},
    #{url,jdbcType = VARCHAR},
    #{groupid,jdbcType = VARCHAR},
    #{groupname,jdbcType = VARCHAR},
    #{component,jdbcType = VARCHAR},
    #{icontype,jdbcType = VARCHAR},
    #{compDesc,jdbcType = VARCHAR},
    #{ruleId,jdbcType = VARCHAR},
    #{descId,jdbcType = VARCHAR},
    #{descPid,jdbcType = VARCHAR},
    #{idempotentkey,jdbcType = VARCHAR},
    #{handle,jdbcType = DECIMAL}
    )
  </insert>

  <select id="selectMenuToUser" resultType="java.util.HashMap">
    select id as menuid,to_char(wm_concat(user_id)) as userid from (
    select a.id,b.user_id from (
    select a.id,b.role_id from tsp_menuitem a
    join tsp_role b
    on instr(','||b.authorization||',',','||a.id||',')>0)a
    join tsp_user_role b
    on a.role_id=b.role_id)
    group by id
  </select>
</mapper>