<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.EtfRuleResultsNewestVwMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.EtfRuleResultsNewestVw">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="RULE_ID" jdbcType="VARCHAR" property="ruleId" />
    <result column="RULE_NAME" jdbcType="VARCHAR" property="ruleName" />
    <result column="RULE_RESULT_ID" jdbcType="DECIMAL" property="ruleResultId" />
    <result column="FUND_CODE" jdbcType="VARCHAR" property="fundCode" />
    <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime" />
  </resultMap>

  <select id="queryNewestRuleResultsByFundCode" resultMap="BaseResultMap">
    select * from etf_rule_results_newest_vw
    <if test=" fundCode != null and fundCode != '' ">
      where fund_code = #{fundCode}
    </if>

  </select>



</mapper>