<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.RuleResultMapper">
    <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.RuleResult">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="RULE_RESULT_ID" jdbcType="DECIMAL" property="ruleResultId"/>
        <result column="RULE_ID" jdbcType="VARCHAR" property="ruleId"/>
        <result column="RESULT_STATUS" jdbcType="DECIMAL" property="resultStatus"/>
        <result column="INST_ID" jdbcType="VARCHAR" property="instId"/>
        <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime"/>
        <result column="DEAL_TIME" jdbcType="TIMESTAMP" property="dealTime"/>
        <result column="STATUS" jdbcType="DECIMAL" property="status"/>
        <result column="DEAL_NAME" jdbcType="VARCHAR" property="dealName"/>
        <result column="INST_STATUS" jdbcType="VARCHAR" property="instStatus"/>
        <result column="SYSTEM_TIME" jdbcType="TIMESTAMP" property="systemTime"/>
        <result column="SEND_STATUS" jdbcType="DECIMAL" property="sendStatus"/>
        <result column="SEND_NAME" jdbcType="VARCHAR" property="sendName"/>
        <result column="SEND_TIME" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="ERROR_MESSAGE" jdbcType="CLOB" property="errorMessage"/>
    </resultMap>

    <select id="getRuleResultFactor" resultType="com.iquantex.tspweb.model.RuleResultFactor">
        SELECT A.* FROM RULE_RESULT_FACTOR A
        LEFT JOIN RULE_RESULT B ON A.RULE_RESULT_ID=B.RULE_RESULT_ID
        <where>
            A.RESULT_STATUS = 2
            <if test=" ruleResultId != null">
                AND A.RULE_RESULT_ID = #{ruleResultId}
            </if>
            <if test=" ruleId != null and ruleId != '' ">
                AND A.RULE_ID = #{ruleId}
            </if>
            <if test=" status != null ">
                AND B.STATUS = #{status}
            </if>
        </where>
    </select>


<!--    <select id="getRuleResultFactor" resultType="com.iquantex.tspweb.model.RuleResultFactor"-->
<!--            parameterType="java.util.List">-->
<!--        SELECT *-->
<!--        FROM RULE_RESULT_FACTOR-->
<!--        WHERE RULE_RESULT_ID IN-->
<!--        (-->
<!--        SELECT a.RULE_RESULT_ID-->
<!--        FROM-->
<!--        (-->
<!--        SELECT RULE_RESULT_ID-->
<!--        FROM RULE_RESULT_FACTOR-->
<!--        <if test=" list != null and list.size > 0 ">-->
<!--            INTERSECT-->
<!--            <foreach collection="list" index="index" item="factorKeyValue" open="(" separator=" INTERSECT " close=")">-->
<!--                SELECT RULE_RESULT_ID-->
<!--                FROM RULE_RESULT_FACTOR-->
<!--                WHERE FACTOR_KEY_VALUE = #{factorKeyValue}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        ) a LEFT JOIN RESULT_ALL_V ON a.RULE_RESULT_ID = RESULT_ALL_V.RULE_RESULT_ID-->
<!--        <where>-->
<!--            RESULT_STATUS = 2-->
<!--            <if test=" ruleResultId != null">-->
<!--                AND RESULT_ALL_V.RULE_RESULT_ID = #{ruleResultId}-->
<!--            </if>-->
<!--            <if test=" ruleId != null and ruleId != '' ">-->
<!--                AND RULE_ID = #{ruleId}-->
<!--            </if>-->
<!--            <if test=" instId != null and instId != '' ">-->
<!--                AND INST_ID = #{instId}-->
<!--            </if>-->
<!--            <if test=" secuCode != null and secuCode!= '' ">-->
<!--                AND SECU_CODE = #{secuCode}-->
<!--            </if>-->
<!--            <if test=" tradeTypeCode != null ">-->
<!--                AND TRADE_TYPE_CODE = #{tradeTypeCode}-->
<!--            </if>-->
<!--            <if test=" instCreateName != null and instCreateName != '' ">-->
<!--                AND INST_CREATE_NAME = #{instCreateName}-->
<!--            </if>-->
<!--            <if test=" fundCode != null and fundCode != '' ">-->
<!--                AND FUND_CODE = #{fundCode}-->
<!--            </if>-->
<!--            <if test=" status != null ">-->
<!--                AND STATUS = #{status}-->
<!--            </if>-->
<!--        </where>-->
<!--        )-->
<!--    </select>-->


    <select id="getResultAllV" resultType="com.iquantex.tspweb.model.ResultAllV">
        select * from (
        SELECT A.*
        FROM RESULT_ALL_V A
        <where> A.RESULT_STATUS = 2
            <if test=" ruleResultId != null">
                AND A.RULE_RESULT_ID = #{ruleResultId}
            </if>
            <if test=" ruleId != null and ruleId != '' ">
                AND A.RULE_ID = #{ruleId}
            </if>
            <if test=" status != null ">
                AND A.STATUS = #{status}
            </if>
        </where>
        ORDER BY RULE_RESULT_ID DESC
        ) where rownum &lt;= 10000
    </select>


<!--    <select id="getResultAllV" resultType="com.iquantex.tspweb.model.ResultAllV" parameterType="java.util.List">-->
<!--        select * from (-->
<!--        SELECT RESULT_ALL_V.*-->
<!--        FROM RESULT_ALL_V-->
<!--        <where>RESULT_STATUS = 2-->
<!--            <if test="-->
<!--             list != null and list.size > 0 ">-->
<!--                AND RESULT_ALL_V.RULE_RESULT_ID IN-->
<!--                <foreach collection="list" index="index" item="factorKeyValue" open="(" separator=" INTERSET "-->
<!--                         close=")">-->
<!--                    SELECT RULE_RESULT_ID-->
<!--                    FROM RULE_RESULT_FACTOR-->
<!--                    WHERE FACTOR_KEY_VALUE = #{factorKeyValue}-->
<!--                </foreach>-->
<!--            </if>-->
<!--            <if test=" ruleResultId != null">-->
<!--                AND RULE_RESULT_ID = #{ruleResultId}-->
<!--            </if>-->
<!--            <if test=" ruleId != null and ruleId != '' ">-->
<!--                AND RULE_ID = #{ruleId}-->
<!--            </if>-->
<!--            <if test=" instId != null and instId != '' ">-->
<!--                AND INST_ID = #{instId}-->
<!--            </if>-->
<!--            <if test=" secuCode != null and secuCode!= '' ">-->
<!--                AND SECU_CODE = #{secuCode}-->
<!--            </if>-->
<!--            <if test=" tradeTypeCode != null ">-->
<!--                AND TRADE_TYPE_CODE = #{tradeTypeCode}-->
<!--            </if>-->
<!--            <if test=" instCreateName != null and instCreateName != '' ">-->
<!--                AND INST_CREATE_NAME = #{instCreateName}-->
<!--            </if>-->
<!--            <if test=" fundCode != null and fundCode != '' ">-->
<!--                AND FUND_CODE = #{fundCode}-->
<!--            </if>-->
<!--            <if test=" status != null ">-->
<!--                AND STATUS = #{status}-->
<!--            </if>-->
<!--        </where>-->
<!--        ORDER BY RULE_RESULT_ID DESC-->
<!--        ) where rownum &lt;= 10000-->
<!--    </select>-->

    <select id="selectOverview" resultType="com.iquantex.tspweb.param.OverviewDto">
        SELECT
        c.NAME AS RULE_NAME,
        c.INFO AS RULE_INFO,
        d.*
        FROM (
        SELECT
        a.RULE_RESULT_ID,
        a.RULE_ID,
        b.FACTOR_VALUE AS FUND_CODE,
        a.CHECK_TIME
        FROM RULE_RESULT a LEFT JOIN RULE_RESULT_FACTOR b ON a.RULE_RESULT_ID = b.RULE_RESULT_ID
        WHERE a.RULE_ID IN ('R003', 'R004', 'R005', 'R006', 'R007') AND a.RESULT_STATUS = 2
        AND b.FACTOR_KEY = 'fundCode'
        ORDER BY a.CHECK_TIME
        ) d LEFT JOIN RULE c ON c.ID = d.RULE_ID
    </select>
</mapper>