<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.RpstorSettTaskMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.RpstorSettTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="JOB_ID" jdbcType="DECIMAL" property="jobId" />
    <id column="TASK_ID" jdbcType="DECIMAL" property="taskId" />
    <result column="TASK_NAME" jdbcType="VARCHAR" property="taskName" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
  </resultMap>
</mapper>