<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.EtfRedemptionTradeVwMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.EtfRedemptionTradeVw">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="FUNDCODE" jdbcType="VARCHAR" property="fundcode" />
    <result column="FUNDNAME" jdbcType="VARCHAR" property="fundname" />
    <result column="REDEMPTIONBASKETS" jdbcType="DECIMAL" property="redemptionbaskets" />
    <result column="ISACTIVEPATCHCOMPLETED" jdbcType="CHAR" property="isactivepatchcompleted" />
    <result column="MAINUNCOMPLETEDSTOCK" jdbcType="VARCHAR" property="mainuncompletedstock" />
    <result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime" />
  </resultMap>
</mapper>