<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.RpstorSettJobMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.RpstorSettJob">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="JOB_ID" jdbcType="DECIMAL" property="jobId" />
    <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="PRE_JOB_ID" jdbcType="VARCHAR" property="preJobId" />
    <result column="IF_RUNNING" jdbcType="DECIMAL" property="ifRunning" />
    <result column="IS_PROCESS_JOB" jdbcType="DECIMAL" property="isProcessJob" />
    <result column="IF_EXIT_SYSTEM" jdbcType="DECIMAL" property="ifExitSystem" />
    <result column="DATE_SOURCE" jdbcType="DECIMAL" property="dateSource" />
  </resultMap>
</mapper>