<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.RpstorSettChildtaskMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.RpstorSettChildtask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="JOB_ID" jdbcType="DECIMAL" property="jobId" />
    <id column="TASK_ID" jdbcType="DECIMAL" property="taskId" />
    <id column="CHILDTASK_ID" jdbcType="DECIMAL" property="childtaskId" />
    <result column="CHILDTASK_NAME" jdbcType="VARCHAR" property="childtaskName" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CHILDTASK_CLS" jdbcType="VARCHAR" property="childtaskCls" />
    <result column="IF_RUNING" jdbcType="DECIMAL" property="ifRuning" />
    <result column="LAST_STATUS" jdbcType="DECIMAL" property="lastStatus" />
    <result column="LAST_TIME" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="IF_SKIP" jdbcType="DECIMAL" property="ifSkip" />
    <result column="IF_REPEAT" jdbcType="DECIMAL" property="ifRepeat" />
    <result column="EXCEPT_SKIP" jdbcType="DECIMAL" property="exceptSkip" />
    <result column="FINISH_STOP" jdbcType="DECIMAL" property="finishStop" />
  </resultMap>
</mapper>