<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.C01FndIntrInfrMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.C01FndIntrInfr">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="FND_CD" jdbcType="VARCHAR" property="fndCd" />
    <result column="FNDS_NMBR" jdbcType="VARCHAR" property="fndsNmbr" />
    <result column="FND_ABBR" jdbcType="VARCHAR" property="fndAbbr" />
    <result column="FND_FLL_NM" jdbcType="VARCHAR" property="fndFllNm" />
    <result column="FND_TYP" jdbcType="VARCHAR" property="fndTyp" />
    <result column="RSRC_SYST" jdbcType="VARCHAR" property="rsrcSyst" />
    <result column="BTCH_DT" jdbcType="VARCHAR" property="btchDt" />
    <result column="ETL_SRC_TBL_NM" jdbcType="VARCHAR" property="etlSrcTblNm" />
    <result column="ETL_JOB_NM" jdbcType="VARCHAR" property="etlJobNm" />
  </resultMap>

  <select id="getFundDict" resultType="com.iquantex.tspweb.param.DictoryVO">
    select fund.FNDS_NMBR id,fund.FND_FLL_NM name from ${tsp_c}.C01_FND_INTR_INFR fund
    <where>
      <if test="null != code">
        AND fund.FNDS_NMBR = #{code}
      </if>
      <if test="null != name">
        AND fund.FND_FLL_NM = #{name}
      </if>
    </where>
  </select>
</mapper>