<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.C02EtfFndPcfDlyIndcMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.C02EtfFndPcfDlyIndc">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="SCRT_CD" jdbcType="VARCHAR" property="scrtCd" />
    <result column="TRDN_DT" jdbcType="TIMESTAMP" property="trdnDt" />
    <result column="CRTN_RDMP_UNT" jdbcType="DECIMAL" property="crtnRdmpUnt" />
    <result column="MAX_CSH_RT" jdbcType="DECIMAL" property="maxCshRt" />
    <result column="ESTM_CSH_CMPN" jdbcType="DECIMAL" property="estmCshCmpn" />
    <result column="CSH_CMPN" jdbcType="DECIMAL" property="cshCmpn" />
    <result column="NAV" jdbcType="DECIMAL" property="nav" />
    <result column="NAV_PER_CU" jdbcType="DECIMAL" property="navPerCu" />
    <result column="RCRD_NMBR" jdbcType="DECIMAL" property="rcrdNmbr" />
    <result column="DVDN_AMNT" jdbcType="DECIMAL" property="dvdnAmnt" />
    <result column="CNST_MRKT_VL" jdbcType="DECIMAL" property="cnstMrktVl" />
    <result column="CNST_CRRN_RT" jdbcType="DECIMAL" property="cnstCrrnRt" />
    <result column="CHCK_MRGN" jdbcType="DECIMAL" property="chckMrgn" />
    <result column="BTCH_DT" jdbcType="TIMESTAMP" property="btchDt" />
    <result column="ETL_SRC_TBL_NM" jdbcType="VARCHAR" property="etlSrcTblNm" />
    <result column="ETL_JOB_NM" jdbcType="VARCHAR" property="etlJobNm" />
  </resultMap>
  <select id="selectByFuncCode" resultMap="BaseResultMap">
    SELECT  * from ${tsp_c}.c02_etf_fnd_pcf_dly_indc where scrt_cd=#{fundCode}
  </select>
</mapper>