<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.C01EtfFndIndxCnsttInfrMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.C01EtfFndIndxCnsttInfr">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="FND_CD" jdbcType="VARCHAR" property="fndCd" />
    <result column="SCRT_CD" jdbcType="VARCHAR" property="scrtCd" />
    <result column="SCRT_NM" jdbcType="VARCHAR" property="scrtNm" />
    <result column="STCK_NMBR" jdbcType="DECIMAL" property="stckNmbr" />
    <result column="CSH_RPLC_FLG" jdbcType="VARCHAR" property="cshRplcFlg" />
    <result column="CSH_RPLC_DSCN_RT" jdbcType="VARCHAR" property="cshRplcDscnRt" />
    <result column="RPLC_CSH" jdbcType="DECIMAL" property="rplcCsh" />
    <result column="DLY_CHNG" jdbcType="VARCHAR" property="dlyChng" />
    <result column="NWST_PRC" jdbcType="DECIMAL" property="nwstPrc" />
    <result column="STP_STTS" jdbcType="VARCHAR" property="stpStts" />
    <result column="CHCK_TM" jdbcType="VARCHAR" property="chckTm" />
    <result column="ESTM_CSH_MRGN" jdbcType="DECIMAL" property="estmCshMrgn" />
    <result column="YR_CHNG" jdbcType="VARCHAR" property="yrChng" />
    <result column="QTTN_SCRT_CD" jdbcType="VARCHAR" property="qttnScrtCd" />
    <result column="BTCH_DT" jdbcType="TIMESTAMP" property="btchDt" />
    <result column="ETL_SRC_TBL_NM" jdbcType="VARCHAR" property="etlSrcTblNm" />
    <result column="ETL_JOB_NM" jdbcType="VARCHAR" property="etlJobNm" />
  </resultMap>
  <select id="selectByFuncCode" resultMap="BaseResultMap">
      select a.fnd_cd,
         a.scrt_cd,
         a.scrt_nm,
         a.stck_nmbr,
         a.csh_rplc_flg,
         a.csh_rplc_dscn_rt,
         a.rplc_csh,
         a.dly_chng,
         a.nwst_prc,
         a.stp_stts,
         a.chck_tm,
         a.estm_csh_mrgn,
         round(b.YRLY_CHNG,8) as YR_CHNG,
         a.qttn_scrt_cd,
         a.btch_dt,
         a.etl_src_tbl_nm,
         a.etl_job_nm from ${tsp_c}.c01_etf_fnd_indx_cnstt_infr a
  left join (select * from (select
  row_number() over(partition by scrt_cd order by trdn_dt desc) rn
  ,t.* from ${tsp_c}.C02_A_SHR_DAY_QTTN_DRVT_INDX t)where rn=1)
  b on a.scrt_cd=b.scrt_cd
  where a.fnd_cd=#{fundCode}
  </select>
</mapper>