<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.TradeimpactcostVwMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.TradeimpactcostVw">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="SCRT_CD" jdbcType="VARCHAR" property="scrtCd" />
    <result column="SCRT_NM" jdbcType="VARCHAR" property="scrtNm" />
    <result column="LABEL_NM" jdbcType="VARCHAR" property="labelNm" />
    <result column="TTL_EQTY" jdbcType="DECIMAL" property="ttlEqty" />
    <result column="RSTR_SHRS_TTL" jdbcType="DECIMAL" property="rstrShrsTtl" />
    <result column="NON_TRDB_SHR" jdbcType="DECIMAL" property="nonTrdbShr" />
    <result column="TRDB_SHRS_TTL" jdbcType="DECIMAL" property="trdbShrsTtl" />
    <result column="TTL_ASHR" jdbcType="DECIMAL" property="ttlAshr" />
    <result column="FLTD_ASHR" jdbcType="DECIMAL" property="fltdAshr" />
    <result column="RSTR_ASHR" jdbcType="DECIMAL" property="rstrAshr" />
    <result column="PLDG_NMBR" jdbcType="VARCHAR" property="pldgNmbr" />
    <result column="STCK_PL_LVL" jdbcType="VARCHAR" property="stckPlLvl" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from ${tsp_c}.TRADEIMPACTCOST_VW
  </select>
</mapper>