<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.C01ScrtInfrHndMapper">
    <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.C01ScrtInfrHnd">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="SCRT_CD_HD" jdbcType="VARCHAR" property="scrtCdHd"/>
        <result column="PRPR_NM" jdbcType="VARCHAR" property="prprNm"/>
        <result column="PRPR_VL" jdbcType="VARCHAR" property="prprVl"/>
        <result column="RSRC_SYST" jdbcType="VARCHAR" property="rsrcSyst"/>
        <result column="BTCH_DT" jdbcType="VARCHAR" property="btchDt"/>
        <result column="ETL_SRC_TBL_NM" jdbcType="VARCHAR" property="etlSrcTblNm"/>
        <result column="ETL_JOB_NM" jdbcType="VARCHAR" property="etlJobNm"/>
    </resultMap>
    <select id="selectByPrprNmAndPrprVl" resultMap="BaseResultMap">
    SELECT * FROM ${tsp_c}.c01_scrt_infr_hnd WHERE prpr_nm='RISKY_BOND' AND PRPR_VL='Y'
    </select>
      <select id="selectBondInteriorInfo" resultType="com.iquantex.tspweb.model.BondInteriorInfo">
      select
      case when a.scrt_cd_hd is null then b.scrt_cd_hd else a.scrt_cd_hd end as scrtCd,
      case when  a.prpr_vl is null then 'N' else a.prpr_vl end as riskyBond,
      case when b.prpr_vl is null then 'ERROR' else b.prpr_vl end as kmBondRate
        from   (select * from ${tsp_c}.c01_scrt_infr_hnd where PRPR_NM='RISKY_BOND')  a
      full  join (select * from ${tsp_c}.c01_scrt_infr_hnd where PRPR_NM='KM_BOND_RATE') b
      on a.scrt_cd_hd=b.scrt_cd_hd
    </select>
    <select id="selectAllFutures" resultType="com.iquantex.tspweb.model.Future">
      select SCRT_CD_HD as futureCode,
      substr(SCRT_CD_HD,0,instr(SCRT_CD_HD,'.')-1) as futureName
      from tsp_c.c01_scrt_infr_hnd   where prpr_nm='FUTURES'
    </select>
</mapper>