<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.C01InstStckMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.C01InstStck">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="INST_ID" jdbcType="DECIMAL" property="instId" />
    <result column="INST_MDFY_ORDR" jdbcType="DECIMAL" property="instMdfyOrdr" />
    <result column="INVS_TYP" jdbcType="VARCHAR" property="invsTyp" />
    <result column="PRTF_SRL_ID" jdbcType="VARCHAR" property="prtfSrlId" />
    <result column="SCRT_INTR_CD" jdbcType="VARCHAR" property="scrtIntrCd" />
    <result column="CMMS_DRCT" jdbcType="VARCHAR" property="cmmsDrct" />
    <result column="AMNT_SCRT_IDNT" jdbcType="VARCHAR" property="amntScrtIdnt" />
    <result column="FND_SRL_ID" jdbcType="DECIMAL" property="fndSrlId" />
    <result column="INST_SCRT_SRL_ID" jdbcType="DECIMAL" property="instScrtSrlId" />
    <result column="DT" jdbcType="DECIMAL" property="dt" />
    <result column="INST_QNTT" jdbcType="DECIMAL" property="instQntt" />
    <result column="INST_AMNT" jdbcType="DECIMAL" property="instAmnt" />
    <result column="PRC_MDL" jdbcType="VARCHAR" property="prcMdl" />
    <result column="INST_PRC" jdbcType="DECIMAL" property="instPrc" />
    <result column="ACTL_PRC" jdbcType="DECIMAL" property="actlPrc" />
    <result column="TDY_CMMS_QNTT" jdbcType="DECIMAL" property="tdyCmmsQntt" />
    <result column="TDY_CMMS_AMNT" jdbcType="DECIMAL" property="tdyCmmsAmnt" />
    <result column="TDY_DL_QNTT" jdbcType="DECIMAL" property="tdyDlQntt" />
    <result column="TDY_TRNV" jdbcType="DECIMAL" property="tdyTrnv" />
    <result column="TDY_AVRG_FNL_PRC" jdbcType="DECIMAL" property="tdyAvrgFnlPrc" />
    <result column="STT" jdbcType="VARCHAR" property="stt" />
    <result column="CMMS_CMPL_STT" jdbcType="VARCHAR" property="cmmsCmplStt" />
    <result column="DL_CMPL_STT" jdbcType="VARCHAR" property="dlCmplStt" />
    <result column="ACCM_DL_QNTT" jdbcType="DECIMAL" property="accmDlQntt" />
    <result column="ACCM_TRNV" jdbcType="DECIMAL" property="accmTrnv" />
    <result column="ACCM_AVRG_FNL_PRC" jdbcType="DECIMAL" property="accmAvrgFnlPrc" />
    <result column="ACCM_CMMS_QNTT" jdbcType="DECIMAL" property="accmCmmsQntt" />
    <result column="ACCM_CMMS_AMNT" jdbcType="DECIMAL" property="accmCmmsAmnt" />
    <result column="INST_DL_CMPL_TM" jdbcType="TIMESTAMP" property="instDlCmplTm" />
    <result column="INST_TRGT_NTVL_RT" jdbcType="DECIMAL" property="instTrgtNtvlRt" />
    <result column="PRTF_TRGT_NTVL_RT" jdbcType="DECIMAL" property="prtfTrgtNtvlRt" />
    <result column="INST_BSNS_CLSS" jdbcType="VARCHAR" property="instBsnsClss" />
    <result column="INST_STRT_DT" jdbcType="DECIMAL" property="instStrtDt" />
    <result column="INST_STRT_TM" jdbcType="DECIMAL" property="instStrtTm" />
    <result column="INST_END_DT" jdbcType="DECIMAL" property="instEndDt" />
    <result column="INST_END_TM" jdbcType="DECIMAL" property="instEndTm" />
    <result column="STTL_SPD" jdbcType="DECIMAL" property="sttlSpd" />
    <result column="DLVR_DT" jdbcType="DECIMAL" property="dlvrDt" />
    <result column="STTL_MTHD" jdbcType="VARCHAR" property="sttlMthd" />
    <result column="CNTR" jdbcType="DECIMAL" property="cntr" />
    <result column="TRDN_TYP" jdbcType="VARCHAR" property="trdnTyp" />
    <result column="RSRC_SYST" jdbcType="VARCHAR" property="rsrcSyst" />
    <result column="BTCH_DT" jdbcType="VARCHAR" property="btchDt" />
    <result column="ETL_SRC_TBL_NM" jdbcType="VARCHAR" property="etlSrcTblNm" />
    <result column="ETL_JOB_NM" jdbcType="VARCHAR" property="etlJobNm" />
  </resultMap>

  <select id="getAll" resultType="com.iquantex.tspweb.model.C01InstStck">
    SELECT * FROM ${tsp_c}.C01_INST_STCK
  </select>
</mapper>