<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.EtfAvailableStockMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.EtfAvailableStock">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="FUNDCODE" jdbcType="VARCHAR" property="fundcode" />
    <result column="TRADEDATE" jdbcType="VARCHAR" property="tradedate" />
    <result column="STOCKMARKETSECUCODE" jdbcType="VARCHAR" property="stockmarketsecucode" />
    <result column="PCFSTOCKNUMBER" jdbcType="VARCHAR" property="pcfstocknumber" />
    <result column="POSITIONSTOCKNUMBER" jdbcType="VARCHAR" property="positionstocknumber" />
    <result column="RATIO" jdbcType="VARCHAR" property="ratio" />
    <result column="STOCKMARKETSECUNAME" jdbcType="VARCHAR" property="stockmarketsecuname" />
    <result column="MAXREDEMPTIONSHARES" jdbcType="VARCHAR" property="maxredemptionshares" />
    <result column="ISSECURITYSTOPPED" jdbcType="VARCHAR" property="issecuritystopped" />
    <result column="COVERAGE" jdbcType="VARCHAR" property="coverage" />
  </resultMap>
</mapper>