<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.RuleMapper">
    <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.Rule">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId"/>
        <result column="CUE_FORMAT" jdbcType="VARCHAR" property="cueFormat"/>
        <result column="INFO" jdbcType="VARCHAR" property="info"/>
        <result column="START_TIME" jdbcType="VARCHAR" property="startTime"/>
        <result column="END_TIME" jdbcType="VARCHAR" property="endTime"/>
        <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName"/>
        <result column="SPEED" jdbcType="DECIMAL" property="speed"/>
        <result column="VOLUME" jdbcType="DECIMAL" property="volume"/>
        <result column="ALL_PUSH" jdbcType="DECIMAL" property="allPush"/>
    </resultMap>

    <select id="getRuleClassification" resultType="com.iquantex.tspweb.param.RuleClassificationVO">
        SELECT * from (
            SELECT * FROM
            (
                SELECT
                    rule.ID rule_id,
                    rule.NAME rule_name,
                    sum(CASE WHEN result.STATUS = 0 THEN 1 ELSE 0 END) AS alarm_no_handle_number,
                    sum(CASE WHEN result.STATUS = 1 THEN 1 ELSE 0 END) AS alarm_handle_number
                FROM RULE rule LEFT JOIN RULE_RESULT result ON rule.ID = result.RULE_ID
                WHERE result.RESULT_STATUS = 2
                GROUP BY rule.ID, rule.NAME
            )
            ORDER BY alarm_handle_number + alarm_no_handle_number DESC
        )
        WHERE ROWNUM &lt;= 10
  </select>

    <select id="getRuleTypeClassification" resultType="com.iquantex.tspweb.param.RuleTypeClassificationVO">
        SELECT
        rule.TYPE_ID type_id,
        rule.TYPE_NAME type_name,
        sum(CASE WHEN result.STATUS =0 THEN 1 ELSE 0 END ) AS alarm_no_handle_number,
        sum(CASE WHEN result.STATUS =1 THEN 1 ELSE 0 END ) AS alarm_handle_number
        FROM RULE rule LEFT JOIN RULE_RESULT result ON rule.ID = result.RULE_ID
        WHERE result.RESULT_STATUS = 2
        <if test=" ruleId != null and ruleId != '' ">
            AND rule.ID = #{ruleId}
        </if>
        GROUP BY rule.TYPE_ID, rule.TYPE_NAME
    </select>

    <select id="getRuleMarketClassification" resultType="com.iquantex.tspweb.param.RuleMarketClassificationVO">
        select
        result.MARKET_CODE,
        result.MARKET_NAME,
        sum(CASE WHEN result.STATUS = 0 THEN 1 ELSE 0 END ) AS alarm_no_handle_number,
        sum(CASE WHEN result.STATUS = 1 THEN 1 ELSE 0 END ) AS alarm_handle_number
        from
        (
        SELECT
        rule_result.RESULT_STATUS,
        rule_result.STATUS,
        market_info.TRDN_MRKT_ID MARKET_CODE,
        c99.STND_CD_NT MARKET_NAME
        FROM RULE_RESULT rule_result
        LEFT JOIN INST_INFO inst_info ON rule_result.INST_ID = inst_info.INST_CODE
        LEFT JOIN ${tsp_c}.C01_SCRT_TRDN_INFR market_info ON inst_info.O32_SECU_CODE = market_info.SCRT_INTR_CD
        LEFT JOIN ${tsp_c}.C99_STND_CD c99 ON market_info.TRDN_MRKT_ID=c99.STND_CD_VL
        WHERE rule_result.RESULT_STATUS = 2
        <if test=" typeId !=null and typeId != '' ">
            AND market_info.TRDN_MRKT_ID IN (select MARKET_CODE from RULE_TYPE_MARKET_MAPPING WHERE TYPE_ID=#{typeId} )
        </if>
        ) result
        GROUP BY result.MARKET_CODE, result.MARKET_NAME
    </select>

    <select id="getSecuMonitoringStatistics" resultType="com.iquantex.tspweb.param.SecuMonitoringStatisticsVO">
        select * from
        (
        SELECT inst_info.SECU_CODE,
        sum(CASE WHEN rule_result.RESULT_STATUS =2 THEN 1 ELSE 0 END ) alarm_number,
        sum(CASE WHEN (inst_info.TRADE_TYPE_CODE=2 OR inst_info.TRADE_TYPE_CODE = 4) AND rule_result.RESULT_STATUS = 2
        THEN 1 ELSE 0 END ) AS sell_alarm_number,
        sum(CASE WHEN (inst_info.TRADE_TYPE_CODE=1 OR inst_info.TRADE_TYPE_CODE = 3) AND rule_result.RESULT_STATUS = 2
        THEN 1 ELSE 0 END ) AS buy_alarm_number,
        cast(sum(CASE WHEN rule_result.RESULT_STATUS =2 THEN 1 ELSE 0 END )/ count(*) AS DECIMAL(5,4)) AS alarm_per
        FROM RULE_RESULT rule_result
        LEFT JOIN RULE rule ON rule_result.RULE_ID = rule.ID
        LEFT JOIN INST_INFO inst_info ON rule_result.INST_ID = inst_info.INST_CODE
        LEFT JOIN ${tsp_c}.C01_SCRT_TRDN_INFR market_info ON inst_info.O32_SECU_CODE = market_info.SCRT_INTR_CD
        <where>
            <if test=" typeId != null and typeId != '' ">
                rule.TYPE_ID = #{typeId}
            </if>
            <if test=" marketCode != null and marketCode != '' ">
                AND market_info.TRDN_MRKT_ID = #{marketCode}
            </if>
        </where>
        GROUP BY inst_info.SECU_CODE
        ORDER BY alarm_number DESC
        )
        <if test=" num != null ">
            WHERE ROWNUM &lt;= #{num}
        </if>
    </select>

    <select id="getFundMonitoringStatistics" resultType="com.iquantex.tspweb.param.FundMonitoringStatisticsVO">
        select * from
        (
        SELECT inst_info.FUND_CODE,
        sum(CASE WHEN rule_result.RESULT_STATUS =2 THEN 1 ELSE 0 END ) alarm_number,
        sum(CASE WHEN (inst_info.TRADE_TYPE_CODE=2 OR inst_info.TRADE_TYPE_CODE = 4) AND rule_result.RESULT_STATUS = 2
        THEN 1 ELSE 0 END ) AS sell_alarm_number,
        sum(CASE WHEN (inst_info.TRADE_TYPE_CODE=1 OR inst_info.TRADE_TYPE_CODE = 3) AND rule_result.RESULT_STATUS = 2
        THEN 1 ELSE 0 END ) AS buy_alarm_number,
        cast(sum(CASE WHEN rule_result.RESULT_STATUS =2 THEN 1 ELSE 0 END )/ count(*) AS DECIMAL(5,4)) AS alarm_per
        FROM RULE_RESULT rule_result
        LEFT JOIN RULE rule ON rule_result.RULE_ID = rule.ID
        LEFT JOIN INST_INFO inst_info ON rule_result.INST_ID = inst_info.INST_CODE
        LEFT JOIN ${tsp_c}.C01_SCRT_TRDN_INFR market_info ON inst_info.O32_SECU_CODE = market_info.SCRT_INTR_CD
        <where>
            <if test=" typeId != null and typeId != '' ">
                rule.TYPE_ID = #{typeId}
            </if>
            <if test=" marketCode != null and marketCode != '' ">
                AND market_info.TRDN_MRKT_ID = #{marketCode}
            </if>
        </where>
        GROUP BY inst_info.FUND_CODE
        ORDER BY alarm_number DESC
        )
        <if test=" num != null ">
            WHERE ROWNUM &lt;= #{num}
        </if>
    </select>

</mapper>