<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquantex.tspweb.dao.java.RuleResultKmMapper">
  <resultMap id="BaseResultMap" type="com.iquantex.tspweb.model.RuleResultKm">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="RULE_ID" jdbcType="VARCHAR" property="ruleId" />
    <result column="RULE_RESULT_ID" jdbcType="DECIMAL" property="ruleResultId" />
    <result column="CHECK_TM" jdbcType="VARCHAR" property="checkTm" />
    <result column="OPERATOR_NM" jdbcType="VARCHAR" property="operatorNm" />
    <result column="RULE_NM" jdbcType="CHAR" property="ruleNm" />
    <result column="INST_CODE" jdbcType="VARCHAR" property="instCode" />
    <result column="TRADE_DIC" jdbcType="VARCHAR" property="tradeDic" />
    <result column="FND_FLL_NM" jdbcType="VARCHAR" property="fndFllNm" />
    <result column="N_INSTITUTIONAL_SHARE" jdbcType="DECIMAL" property="nInstitutionalShare" />
    <result column="N_NOINSTITUTIONAL_VALUE" jdbcType="DECIMAL" property="nNoinstitutionalValue" />
    <result column="VC_DEALCODE" jdbcType="CHAR" property="vcDealcode" />
    <result column="N_BOND_VALUE" jdbcType="DECIMAL" property="nBondValue" />
    <result column="N_INVESTVALUE" jdbcType="DECIMAL" property="nInvestvalue" />
    <result column="SECU_CODE" jdbcType="VARCHAR" property="secuCode" />
    <result column="N_COMYIEDS" jdbcType="DECIMAL" property="nComyieds" />
    <result column="N_VALUYIEDS" jdbcType="DECIMAL" property="nValuyieds" />
    <result column="DEVIATION" jdbcType="DECIMAL" property="deviation" />
    <result column="QTY" jdbcType="DECIMAL" property="qty" />
    <result column="ORDER_DATA" jdbcType="VARCHAR" property="orderData" />
  </resultMap>
  <select id="selectByRuleResultIds"  resultMap="BaseResultMap" parameterType="java.util.List">
    select * from rule_result_km
    <where>1=1
      <if test="
                list !=null and list,size()>0">
        And rule_result_id in
        <foreach collection="list" index="index" item="item" open="(" separator=","  close=")">
          #{item.ruleResultId}
        </foreach>
      </if>
    </where>
  </select>
</mapper>